$whiteText1: #F9F9F9;
$whiteText2: #EFEFEF;
$blackText: #292A2D;
$secondaryText: #C4C4C4;
$brandText: #FB6157;

$whiteBack: #FFFFFF;
$blackBack: #292A2D;
$secondaryBack: #C4C4C4;
$brandBack: #FB6157;
$bodyBack: hsla(196, 196, 196, 0.4);
$redBack: #FB6157;
